* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page__container {
  background-color: #e4e4e4;
  width: 100%;
  margin-top: 30px;
  height: auto;
  margin-bottom: 50px;
  padding: 30px 0;
}
.page__container .page__title {
  font-size: 28px;
  color: #222222;
  padding: 15px 50px;
  margin-top: 10px;
}
.page__container .add__btn {
  margin-top: 15px;
  margin-right: 40px;
  width: 150px;
  height: 40px;
  background-color: #ffda52;
  padding: 5px;
}
.page__container .add__btn:hover {
  background-color: #ffc107;
}
.page__container .basic__product__info {
  padding: 24px;
  height: auto;
  width: auto;
  border: 1px solid #222222;
  border-radius: 2px;
  background-color: white;
  margin-left: 20px;
}
.page__container .basic__product__info .card .card-body bdi {
  font-size: 30px;
}
