@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.review__paying{
    padding: 30px;
}
.review__paying h1{
    text-align: center;
    margin-bottom: 30px;
}
.review__paying h1{
    font-size: 20px;
}
.payment__container{
    display: flex;
    justify-content: space-between;
    padding: 0 330px;
    margin-bottom: 30px;
}
.btn__group{
    justify-content: center;
}
.para{
    text-align: center;
    align-items: center;
}
.detail__payment{
    padding: 0 300px;
    margin-bottom: 30px;
}
.pay{
    padding: 7px 20px;
    border: 1px solid black;
    background-color: black;
    color: white;
}
.btn__group{
    display: flex;
    justify-content: center;
}
.pay:hover{
    background-color: white;
    color: #222222;
}
@media only screen and (max-width: 1024px) {
    .payment__container{
        display: grid;
        justify-content: center;
    }
    .detail__payment{
        padding: 0 100px;
    }
    .details{
        width: 500px;
        height: 200px;
        margin-bottom: 100px;
    }
}
@media only screen and (max-width: 400px){
    .review__paying h1{
        font-size: 30px;
    }
    .detail__payment{
        padding: 0;
        overflow-x: auto;
    }
    .payment__container{
        padding: 0;
    }
    .details{
        width: 320px;
        margin-bottom: 200px;
    }
    .info{
        overflow-x: auto;
    }
}