<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Customer_Page/Pages/ProductPage/style.css">
    <link rel="stylesheet" href="/Customer_Page/Components/CategorySideBar/CategorySideBar.css">
    <!--    <link rel="stylesheet" href="/Customer_Page/Components/Footer/Footer.css">-->
    <!--    <link rel="stylesheet" href="/Customer_Page/Components/Header/Header.css">-->
</head>

<body>
<div id="header">
    <div th:replace="Customer_Page/Components/Header/Header :: header"></div>
</div>
<div class="d-md-flex align-items-stretch">
    <div id="slide_bar">
        <div th:replace="Customer_Page/Components/CategorySideBar/CategorySideBar :: sidebar"></div>
    </div>
    <div id="content product_container" class="pt-5">
        <div class="introduction">
            <h2 th:if="${param.get('categoryCode') != null && products.size() >= 1}" th:utext="${products[0].category.name}">Men's Shoes</h2>
            <h2 th:if="${param.get('categoryCode') == null}" >All</h2>
            <img src="https://media.discordapp.net/attachments/706817191563231233/914518102652383242/unknown.png">
            <div class="para__container">
                <div class="shop__des">
                    ‘Noriva’ – Footwear for Everyone
                </div>
                <div class="shop__des">
                    For each one of those shoe sweethearts out there, ‘Noriva’ offer the one-stop goal to pick the
                    correct match of footwear. To satisfy the affection for shoes, we offer heaps of alternatives
                    from driving footwear marks, all under one rooftop. Gone are the days when you needed to go from
                    store to store to locate the correct style and size for yourself.
                </div>
                <div class="shop__des">
                    At ‘Noriva’, you can locate a vast accumulation of dashing footwear in all sizes and styles, all
                    inside a couple of snaps.
                    Simple right? Not just we are here to spare your time, we are putting forth you the most
                    dazzling footwear alternatives from all the first-rate brands like DAVINCHI, PRINCESS, and
                    SIGNATURE. At ‘Noriva’, we offer men, ladies, and child’s shoes perfect for any and each event.
                </div>
                <div class="shop__des">
                    Ideal from game shoes to shoes to flip-flops, there is nothing that you can’t discover at
                    ‘Noriva’ to supplement your clothing. At ‘Noriva’, conveying quality footwear that displays
                    style is our adage.
                </div>
                <div class="shop__des">
                    Devoted to satisfying your shopping wants with no inconvenience, we ensure that you encounter
                    smooth web based requesting background. Our intriguing accumulation of elegantly insightful
                    footwear is accessible at astonishing costs that will really shock you. So be a shoe-holic with
                    ‘Noriva’.
                </div>
            </div>
        </div>
        <div class="sort_items">
            <!--            <div class="sort_bar">-->
            <!--                <h5>Sort by:</h5>-->
            <!--                <div class="custom_select">-->
            <!--                    <select>-->
            <!--                        <option value="1">Default</option>-->
            <!--                        <option value="2">Name (A - Z)</option>-->
            <!--                        <option value="3">Name (Z - A)</option>-->
            <!--                        <option value="4">Price (Low - High)</option>-->
            <!--                        <option value="5">Price (High - Low)</option>-->
            <!--                    </select>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="show_item">
                <h5>Category:</h5>
                <p th:if="${param.get('categoryCode') != null && products.size() >= 1}" th:utext="${products[0].category.name}"></p>
                <p th:if="${param.get('categoryCode') == null}" >All</p>
            </div>
            <div class="show_item">
                <h5>Brand:</h5>
                <p th:if="${param.get('brandCode') != null && products.size() >= 1}" th:utext="${products[0].brand.name}"></p>
                <p th:if="${param.get('brandCode') == null}" >All</p>
            </div>
            <div class="show_item">
                <h5>Show:</h5>
                <div class="show_item_select" onchange="getProductItem()">
                    <select id="show_value">
                        <option th:if="${param.limit[param.limit.size() - 1] == '12'}" value="12" selected>12</option>
                        <option th:if="${param.limit[param.limit.size() - 1] != '12'}" value="12">12</option>
                        <option th:if="${param.limit[param.limit.size() - 1] == '24'}" value="24" selected>24</option>
                        <option th:if="${param.limit[param.limit.size() - 1] != '24'}" value="24">24</option>
                        <option th:if="${param.limit[param.limit.size() - 1] == '36'}" value="36" selected>36</option>
                        <option th:if="${param.limit[param.limit.size() - 1] != '36'}" value="36">36</option>
                        <option th:if="${param.limit[param.limit.size() - 1] == '48'}" value="48" selected>48</option>
                        <option th:if="${param.limit[param.limit.size() - 1] != '48'}" value="48">48</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="product_container">
            <div class="item" th:if="${products.size() >= 1}"
                 th:each="product:${products}">
                <product-card id="card_item"
                              th:if="${product.isAvailable == true}"
                              th:productName='${product.title}'
                              th:productPrice="'$' + ${product.price}"
                              th:productImg="${product.pictureUrl}"
                              th:productCode="${product.code}"/>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="announcement" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Announcement</h5>
                <button onclick="$('#announcement').modal('hide');" type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="announcement_content">
                ...
            </div>
            <div class="modal-footer">
                <button onclick="$('#announcement').modal('hide');" type="button" class="btn btn-primary">Got it
                </button>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div th:replace="Customer_Page/Components/Footer/Footer :: header"></div>
</div>
</body>
<script type="module" src="/Customer_Page/Components/ProductCard/ProductCard.js"></script>
<script src="https://kit.fontawesome.com/e82e1ec9a6.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<!--<script src="/Customer_Page/Components/CategorySideBar/CategorySideBar.js"></script>-->
<script src="/Customer_Page/Components/CategorySideBar/CategorySideBarMain.js"></script>
<!--<script src="/Customer_Page/Components/Footer/Footer.js"></script>-->
<!--<script src="/Customer_Page/Components/Header/Header.js"></script>-->
<script src="/Customer_Page/Pages/ProductPage/main.js"></script>

</html>