@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.product_container h2 {
  font-size: 14px;
}
.shop__des {
  margin-right: 30px;
  margin-bottom: 15px;
}
.item {
  margin-right: 60px;
  margin-bottom: 20px;
  display: inline-block;
}
.introduction h2 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.introduction img {
  width: 1180px;
  height: auto;
  margin-bottom: 14px;
}
.introduction p {
  font-size: 14px;
  color: #777777;
  margin-bottom: 25px;
  width: 1080px;
}
.sort_items {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}
.sort_items .sort_bar {
  display: flex;
}
.sort_bar h5 {
  font-size: 14px;
  margin-right: 10px;
}
.custom_select select {
  padding: 4px 25px 4px 10px;
  margin-top: -10px;
}
.sort_items .show_item {
  margin-left: 20px;
  display: flex;
}
.show_item h5 {
  font-size: 14px;
  margin-right: 10px;
}
.show_item select {
  padding: 4px 25px 4px 10px;
  margin-top: -10px;
}
/*@media only screen and (max-width: 1700px){*/
/*  .introduction img{*/
/*    width: 1180px;*/
/*  }*/
/*}*/
@media only screen and (min-width: 1900px){
  .introduction img{
    width: 1550px;
  }
}
@media only screen and (max-width: 1024px) {
  .item {
    display: inline-block;
    margin-right: 7px;
  }
  .all__container {
    margin: 0 10px;
    max-width: 1024px;
    overflow-x: hidden;
  }
  .introduction img,
  .shop__des {
    width: 690px;
  }
  .shop__des {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 400px) {
  .shop__des {
    width: 375px;
  }
  .introduction h2 {
    text-align: center;
    font-size: 20px;
  }
  .introduction img {
    display: none;
  }
  .show_item {
    margin-left: 30px;
  }
  .sort_items .show_item {
    display: none;
  }
  .product_container {
    margin-left: 60px;
  }
  .para__container{
    height: 300px;
    overflow-y: auto;
    margin-bottom: 30px;
    border: 1px solid #777777;
    justify-content: center;
    padding: 10px 0;
  }
}

/*.box,.show{*/
/*  margin: 20px auto;*/
/*  text-align: center;*/
/*}*/
/*.show{*/
/*  padding: 10px 0;*/
/*}*/
