<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Noriva Admin's page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/Admin_Page/Pages/Seller/SellerList/style.css">

</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <div id="side__bar">
            <div th:replace="Admin_Page/Components/SlideBar/Sidebar :: sidebar"></div>
        </div>
        <!-- Page Content  -->
        <div id="content">
            <div id="header">
                <div th:replace="Admin_Page/Components/Header/Header :: header"></div>
            </div>
            <div class="page__container">
                <div class="page__top row">
                    <h1 class="page__title col">
                        Seller
                    </h1>
                    <button class="add__btn" onclick="window.location.href = 'add'">New Seller</button>
                </div>
                <div class="all__product__container">
<!--                    <div class="input-group mb-3">-->
<!--                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>-->
<!--                        <input type="text" class="form-control" placeholder="Start typing to search for sellers">-->
<!--                    </div>-->
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Birthday</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Address</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="seller:${sellers}">
                            <th scope="row" th:utext="${seller.id}">1</th>
                            <td>
                                <div class="product__info float-start" style="display: flex; justify-content: center;">
                                    <div class="product__image">
                                        <img width="40px" height="40px" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png">
                                    </div>
                                    <div style="width: 15px"></div>
                                    <div class="product__detail">
                                        <p style="font-weight: 700;" th:utext="${seller.firstName + seller.lastName}">Seller Name Here</p>
                                        <p th:utext="${seller.email}">example@email.com</p>
                                    </div>
                                </div>
                            </td>
                            <td th:utext="${seller.gender}">Male</td>
                            <td th:utext="${seller.birthday}">17/09/2001</td>
                            <td th:utext="${seller.phone}">0794676336</td>
                            <td th:utext="${seller.address}">210/10 Sambram, Buôn Ma Thuột, DakLak </td>
                            <td>
                                <div class="btn__action">
                                    <a th:href="'edit?id=' + ${seller.id}" class="btn btn-warning" type="button">Edit</a>
                                    <button th:onclick="'deleteSeller(' + ${seller.id} + ');'" type="button" class="btn btn-danger">Delete</button>
                                </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div id="footer">
                <div th:replace="Admin_Page/Components/Footer/Footer :: footer"></div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="/Admin_Page/Pages/Seller/SellerList/main.js"></script>
    <script src="https://kit.fontawesome.com/e82e1ec9a6.js" crossorigin="anonymous"></script>
</body>
</html>