<div th:fragment="sidebar">
    <link rel="stylesheet" href="/Seller_Page/Components/SlideBar/Sidebar.css">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Noriva Seller</h3>
        </div>
        <div class="sidebar__list sticky-top">
            <p>APPLICATION</p>
            <ul class="list-unstyled components">
                <li class="active">
                    <a style="font-size: 14px;" href="/seller/dashboard">
                        <i style="padding: 7px 5px;" class="fas fa-home"></i>
                        Dashboard
                    </a>
                </li>
                <li class="active">
                    <a style="font-size: 14px;" href="#catalog" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle"><i style="padding: 7px 5px;" class="fas fa-database"></i>
                        Catalog</a>
                    <ul class="collapse list-unstyled" id="catalog">
                        <li>
                            <a href="/seller/product/add">Add Product</a>
                        </li>
                        <li>
                            <a href="/seller/product/product-list">Product List</a>
                        </li>
                        <!--                        <li>-->
                        <!--                            <a href="#">Category List</a>-->
                        <!--                        </li>-->
                    </ul>
                </li>
                <li class="active">
                    <a style="font-size: 14px;" href="#customer" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle"><i style="padding: 7px 5px;" class="far fa-user"></i> Customers</a>
                    <ul class="collapse list-unstyled" id="customer">
                        <li>
                            <a href="/seller/customer/customer-list">Customer List</a>
                        </li>
                        <!--                        <li>-->
                        <!--                            <a href="/admin/customer/edit">Customer</a>-->
                        <!--                        </li>-->
                    </ul>
                </li>
                <li class="active">
                    <a style="font-size: 14px;" href="#orders" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle"> <i style="padding: 7px 5px;" class="fas fa-shopping-cart"></i>
                        Payment</a>
                    <ul class="collapse list-unstyled" id="orders">
                        <li>
                            <a href="/seller/payment/payment-list">Payment List</a>
                        </li>
                        <!--                        <li>-->
                        <!--                            <a href="/admin/payment/payment-detail">Payment Details</a>-->
                        <!--                        </li>-->
                    </ul>
                </li>
<!--                <li class="active" th:if="${userSession.role.code == 'ADMIN'}">-->
<!--                    <a style="font-size: 14px;" href="#sellers" data-toggle="collapse" aria-expanded="false"-->
<!--                       class="dropdown-toggle"> <i style="padding: 7px 5px;" class="fas fa-user-tie"></i>-->
<!--                        Sellers</a>-->
<!--                    <ul class="collapse list-unstyled" id="sellers">-->
<!--                        <li>-->
<!--                            <a href="/admin/seller/add">Add seller</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="/admin/seller/seller-list">Sellers List</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
            </ul>
        </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</div>